.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; // Assure que le positionnement absolu du menu fonctionne correctement

    &__navigation {
        display: flex;
        align-items: center;
        flex-direction: row; // Menu horizontal par défaut

        @media screen and (max-width: 800px) {
            position: absolute; // Le menu sort du header
            top: 0;
            left: 0;
            width: 100vw; // Prendre 100% de la largeur de l'écran
            background-color: #fff;
            padding: 20px;
            flex-direction: column; // Le menu est vertical
            display: none; // Caché par défaut
            z-index: 998; // Assurer que le menu est juste en dessous du bouton burger
        }
    }

    /* Styles pour le bouton burger */
    .burger-icon {
        display: none; // Caché par défaut sur grand écran
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        width: 35px;  // Taille du bouton burger
        height: 30px; // Hauteur du bouton burger
        justify-content: space-between;
        position: fixed; // Fixe le bouton en haut à droite
        top: 80px;  // Réduit la valeur du top pour abaisser le bouton burger
        right: 20px; // Positionnement à droite
        z-index: 1000; // Augmente le z-index pour garantir que le bouton burger est au-dessus du menu

        .burger-bar {
            width: 100%;
            height: 5px;   // Épaisseur des barres du burger
            background-color: #333;
            transition: all 0.3s ease-in-out;
        }

        @media screen and (max-width: 800px) {
            display: flex; // Affiché uniquement sur les petits écrans
        }
    }

    /* Masquer la checkbox sur les grands écrans */
    .burger-toggle {
        display: none; // La checkbox ne sera jamais visible sur les grands écrans
    }

    /* Quand l'input checkbox est coché, on affiche le menu */
    .burger-toggle:checked + .burger-icon + .entete__navigation {
        display: flex; // Affiche le menu en colonne, en dehors du header
    }
}
