.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; // Assure que le positionnement absolu du menu fonctionne correctement

    &__navigation {
        display: flex;
        align-items: center;
        flex-direction: row; // Menu horizontal par défaut

        @media screen and (max-width: 800px) {
            position: absolute; // Le menu reste dans l'entête
            top: 100%; // Le menu s'affiche juste en dessous de l'en-tête
            left: 0;
            width: 100vw; // Prendre 100% de la largeur de l'écran
            background-color: #fff;
            padding: 20px;
            flex-direction: column; // Le menu est vertical
            display: none; // Caché par défaut
            z-index: 998; // Assurer que le menu est juste en dessous du bouton burger
        }
    }

    /* Styles pour le bouton burger */
    .burger-icon {
        display: none; // Caché par défaut sur grand écran
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        width: 35px;  // Taille du bouton burger
        height: 30px; // Hauteur du bouton burger
        justify-content: space-between;
        padding-right: 40px; // Déplace le bouton burger légèrement plus à gauche
        z-index: 1000; // Garantir que le bouton burger est au-dessus du menu

        .burger-bar {
            width: 100%;
            height: 5px;   // Épaisseur des barres du burger
            background-color: #333;
            transition: all 0.3s ease-in-out;
        }

        @media screen and (max-width: 800px) {
            display: flex; // Affiché uniquement sur les petits écrans
        }
    }

    /* Masquer la checkbox sur les grands écrans */
    .burger-toggle {
        display: none; // La checkbox ne sera jamais visible sur les grands écrans
    }

    /* Quand la checkbox est cochée, on affiche le menu */
    .burger-toggle:checked + .burger-icon + .entete__navigation {
        display: flex; // Affiche le menu en colonne, en dehors du header
    }

    /* Animation pour transformer le burger en X */
    .burger-toggle:checked + .burger-icon .burger-bar:nth-child(1) {
        transform: rotate(45deg); /* Première barre tourne à 45° */
        position: relative;
        top: 10px; /* Ajuste la position de la barre */
        transform-origin: center; /* Point d'origine de la rotation au centre */
    }

    .burger-toggle:checked + .burger-icon .burger-bar:nth-child(2) {
        opacity: 0; /* La barre du milieu devient invisible */
        transform-origin: center; /* Point d'origine de la rotation au centre */
    }

    .burger-toggle:checked + .burger-icon .burger-bar:nth-child(3) {
        transform: rotate(-45deg); /* Troisième barre tourne à -45° */
        position: relative;
        top: -10px; /* Ajuste la position de la barre */
        transform-origin: center; /* Point d'origine de la rotation au centre */
    }
}
