/*
  --------------------------------- Layout du pied de page
*/

footer{
  background-color: #A020F0;
  color : #ffffff;
}

.piedpage{
    display: flex;
    flex-direction: column;
    &__s1{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        &__externe {
            flex : 0 0 20%;
            & .menu { //ul
                display : flex;
                flex-direction: column;
                & a{
                    color: #ffffff;
                }
            }


        }
        &__adresse{
            flex : 0 0 40%;
            border-left: solid black 2px;
            padding: 0 10px;

            &__coord{}
            &__recherche{}
        }
        &__description{
            flex:0 0 20%;
            border-left: solid black 2px;
            padding: 0 10px;
        }
        &__image{
            margin-top: 5rem;
            height: 10vh;
            width: 10vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    }
}