/*Layout global*/
.global{
    max-width: 1100px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 13vw;
    align-items: center;
    
}

.populaire .global {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 800px){
    .global{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}