.hero {
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    &_inscription{
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
        max-width: 100vw;
        justify-content: center;
    }

    &_tableau{
        width: 100%; /* Rendre le tableau réactif */
        max-width: 100%; /* Le tableau ne dépasse pas la largeur du conteneur */
        table-layout: auto; /* Permet à la table de s'adapter automatiquement */
        border-collapse: collapse; /* Supprime les espaces entre les cellules */
        
        tr {
            th {
                background-color: #A020F0;
                border: solid black 2px;
            }
        }

        /* Assurez-vous que les champs input à l'intérieur des td occupent toute la largeur disponible */
        td input {
            width: 100%; /* Les champs de saisie occupent toute la largeur de la cellule */
            padding: 8px;
            border: 1px solid #ddd; /* Bordure autour des champs de saisie */
            box-sizing: border-box; /* Inclut padding et bordure dans la largeur totale */
        }
    }
}
