/*Styles pour les cartes*/
.carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 10px;
    font-family: 'Roboto Slab', sans-serif;
    height: 400px;
    width: 320px;

    &--grande {
        flex: 1 1 250px;
        transition: transform 0.3s ease;
    }
    &--grande:hover{
        transform: scale(1.1);
    }

    &__image {
        position: absolute; /* Placer l'image en arrière-plan */
        background-size: cover; /* Couvre toute la zone */
        background-position: center; /* Centrer l'image */
        background-repeat: no-repeat;
        z-index: -1; /* L'image est derrière le contenu */
        height: 400px;
        width: 340px;
        overflow: hidden;
    }

    &__contenu {
        position: relative; /* Le contenu doit être au-dessus de l'image */
        background-color: rgba(255, 255, 255, 0.5); /* Fond semi-transparent pour la lisibilité du texte */
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        padding: 10px;
        z-index: 1; /* Assurer que le contenu soit au-dessus de l'image */
        height: 400px;
        width: 320px;
        .Prix {
            font-size: large;
            font-weight: bold;
        }
    }
    &
    &__conteneurTitre{
        height: fit-content;
        width: 340px;
        background-color: rgba(160, 32, 240, 0.5);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    &__titre {
        // Ajoute ici tes styles pour le titre

    }

    &__description {
        // Ajoute ici tes styles pour la description
        font-weight: bold;
    }

    &__bouton {
        background-color: rgba(160, 32, 240);
        color: black;
        font-weight: bold;
        border: solid black 2px;
        text-decoration: none;
        padding: 0rem 1rem;

        a {
            text-decoration: none;
        }

        &--actif {
            // Ajoute ici tes styles pour l'état actif du bouton
        }
    }
}
