/* Styles globaux pour le menu de navigation */
.menu {
    display: flex;
    gap: 10px;
    list-style: none;

    /* Sur petits écrans, passage en menu vertical plein largeur */
    @media screen and (max-width: 800px) {
        flex-direction: column; 
        width: 100%;
    }

    /* Styles pour chaque élément du menu */
    &-item {
        a {
            text-decoration: none;
            padding: 4px;
        }
    }
}
